/* @keyframes loadingResponse1 {
    0% {
        transform: translateY(0%)
    } 50% {
        transform: translateY(10%)
    } 100% {
        transform: translateY(-10%)
    }
} */

@keyframes loadingResponse1 {
    from {
        transform: translateY(10%)
    } to {
        transform: translateY(-10%)
    }
}

@keyframes loadingResponse2 {
    from {
        transform: translateY(10%)
    } to {
        transform: translateY(-10%)
    }
}

@keyframes loadingResponse3 {
    from {
        transform: translateY(10%)
    } to {
        transform: translateY(-10%)
    }
}


@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500:600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.inv {
    visibility: hidden;
}

body {
    height: 100vh;
    background-position: center;
    background-size: cover;
}

header {
    z-index: 1;
    height: 2vh;
}

header .barra_de_navegacao {
    display: flex;
    background-color: #1E1E49;
}





body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#parallax::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0b2764, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

#text {
    /* position: absolute; */
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 11;
    right: -0.02em;
    margin-bottom: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #E1D8D0;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
}





.inv {
    background-color: transparent;
    color: transparent;
}

.barra_de_navegacao .logo_marca {
    font-size: 2.1rem;
    font-weight: 600;
}

.barra_de_navegacao .links_barra {
    gap: 40px;
    list-style: none;
}

.barra_de_navegacao .quemSomos, .empresas, .valores, .logo_marca, .perfil {
    color: #FDFAF3;
    text-decoration: none;
    transition: 0.2s ease;
    list-style: none;
} 

.barra_de_navegacao .quemSomos .empresas .valores, .logo_marca, .perfil:hover {
    color: #d7d5d1;
}

.barra_de_navegacao .links_barra li.login a:not(:hover) {
    background-color: #fff; 
    color: #000;
    border-radius: 9px; 
    padding: 5px 20px;
}

.barra_de_navegacao .links_barra li.login a:hover {
    background-color: #1e90ff; 
    border-radius: 9px; 
    color: #ffff; 
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}

.login {
    color: #1E1E49;
    font-size: 1.2em;
    list-style: none;
    text-decoration: none;
    transition: 0.2s ease;
    border: 2px solid #E1D8D0;
    background-color: #E1D8D0;
    padding: 0.125em 0.5em;
    border-radius: 1em;
} 

.login:hover {
    background-color: transparent;
    color: #E1D8D0;
}

.inv2 {
    background-color: transparent;
    height: 10vh;
}

.inv3 {
    background-color: transparent;
    height: 30vh;
}

#textoMain h1 {
    margin-left: 2%;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 27px;
    color: #FDFAF3;
}

#textoMain1 h1 {
    margin-left: 1.5%;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 18px;
    font-size: 30px;
    color: #FDFAF3;
}

#textoMain p {
    font-family: "Josefin Sans", sans-serif;
    color: #E1D8D0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 90vh;
    color: white; /* Texto em branco para contraste */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  


/* #section1::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0A2966, transparent);
} */

.parallax-container {
    position: relative; /* Para posicionar as camadas dentro do container */
    overflow: hidden; /* Ocultar qualquer transbordamento das camadas */
}
  
.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#textoMain {
    margin-bottom: 20%;
}

.textos{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.textos .div_primaria{
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.textos .div_primaria h1{
    font-size: 3rem;
    max-width: 600px;
}

.textos .div_primaria p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}

.textos .div_primaria button{
    background-color: #fff; 
    border-radius: 9px; 
    font-weight: 300;
    margin-top: 30px;
    border: none;
    color: #000; 
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

.textos .div_primaria button:hover{
    background-color: #1e90ff; 
    padding: 15px 40px;
}

.sobre{
    background-color: #FFC0CB;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.sobre .div-secundaria{
    color: #000;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.sobre .div-secundaria h1{
    font-size: 3rem;
    max-width: 600px;
}

.sobre .div-secundaria p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}
.contato{
    background-color: #ADD8E6;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.contato .div-treceira{
    color: #000;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.contato .div-treceira h1{
    font-size: 3rem;
    max-width: 600px;
}

.contato .div-treceira p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}






/* BOT MENÓ */

.botspace {
    position: relative;
    height: calc(90vh - 100px); 
    width: 100%;
    max-height: 85%;
    overflow-x:auto;
    overflow-y: auto;
    background-color: #33343f; 
    padding: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    
    
  }

  .offcanvas-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    background: linear-gradient(to right, #1E1E49, #CBB5A1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
 
  strong {
    font-weight: 700;
  }

  /* Balão de resposta do chatbot */
  #botResponse { 
    background-color: #494b59;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%; 
    word-break: break-word;    
    overflow-wrap: break-word; 
  }

  #loadResponse1 {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 0.5rem;
    animation-name: loadingResponse1;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  #loadResponse2 {
    margin-top: 1%;
    font-size: 0.5rem;
    animation-name: loadingResponse2;
    animation-delay: 0.25s;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  #loadResponse3 {
    margin-top: 1%;
    font-size: 0.5rem;
    animation-name: loadingResponse3;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  /* Barra de mensagem */
  .chat-input {
    position: absolute;
    bottom: 20px; 
    width: 96%; 
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #494b59;
    height: 100px;
    margin-left: -10px;
  }
  
  /* Campo de input */
  #user-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #494b59;
    color: #ccc;
    border-radius: 5px;
  }
  
  /* Placeholder do input */
  #user-input::placeholder {
    color: #ccc;
  }
  
  /* Botão de enviar */
  #confirmPrompt {
    background-color: transparent; /* Fundo transparente */
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 10px; /* Espaçamento do botão */
  }
  #painel {
    width: 40%; /* Aumentar = aba para a direita */
  }
  .chat-container {
    display: flex;
    flex-direction: column;
}

#loadingDiv {
    display: flex;
}




/* o que é */
.o-que-e{
    /* background-color: #FAFDF3; */
    background-image: url(./img/mundo.jpg);
    background-size: cover;
    background-position: center;
    background-size: 180vh;
    padding: 0 20px;
}

#o-que-e::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #391608, transparent);
    z-index: 1000;
}

.o-que-e:hover {
    transition: 0.1s;
    background-size: 200vh;
}



.o-que-e .div-secundaria{
    color: #000;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#title-about-enterprise{
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    max-width: 600px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #E1D8D0;
    margin-top: 40px;
    text-shadow: rgba(0, 0, 0, 0.25) 0 8px 17px;
    transform: translateY(-2px);
}

#paragrafo-about-enterprise{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
    color: #E1D8D0;
}
.inscreva-se{
    color: #E1D8D0;
}
/* botao */
/* button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  button:focus:after,
  button:hover:after {
    width: 100%;
    right: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  } */
  
  button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #E1D8D0;
    border-radius: 0.2em;
    box-sizing: border-box;
    color: #E1D8D0;
    cursor: pointer;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 5em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    font-size: 18px;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #274276;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }

/* nossos valores */

.nossos-valores {
    background-color: #391608;
    min-height: 100vh;
    display: flex;
    padding: 0 20px;
  }


  .nossos-valores .container {
    color: #EDE1D7;
  }

  .nossos-valores h1 {
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    padding-top: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .nossos-valores p {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }

  .card {
    border: none;
    background-color: #EBE6E0;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card-body {
    padding: 30px;
  }

  .card-title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1.2em;
    text-align: center;
  }

  .card-text {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
/* transiçao */
#fotoTransicao{
    background-image: url(./img/fotoTransicao.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 33.6em;
    background-size: 220vh;
}
/* empresas conectadas */
.empresas-conectadas{
    background-color: #0A2966;
    height: 100vh;
    display: flex;
    align-items: start;
    padding: 0 0;
}

.empresas-conectadas .div-secundaria{
    color: #000;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.empresas-conectadas .div-secundaria h1{
    font-size: 3rem;
    max-width: 600px;
}

.empresas-conectadas .div-secundaria p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}

#tituloEmpresas {
    margin-top: 1%;
    margin-left: 7%;
}

#autoplaySlider {
    background: #EDE1D7;
    height: 8em;
}








.slider {
    padding: 0;
    margin: 0;
    background: #EDE1D7;
    height: 8em;
    overflow: hidden;
    position: relative;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, #EDE1D7 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(12em * 18);

}

.slider .slide-track:hover {
    animation-play-state: paused;
}

.slider .slide {
    margin-top: 0.4%;
    margin-left: 4%;
    height: 6em;
    width: 6em;
    border-radius: 50%;
}

.slider .slide img {
    margin: 0.4%;
    height: 6em;
    width: 6em;
    border-radius: 50%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-312px * 3));
    }
}


/* .slide:nth-child(1), .slide:nth-child(10) {
    background-color: #CBB5A1;
} */

 .slide:nth-child(1) {
    background-color: #CBB5A1;
    background-image: url(./img/sesi.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(2), .slide:nth-child(10) {
    background-color: #E1D8D0;
    background-image: url(./img/iel.png);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(3), .slide:nth-child(11) {
    background-color: #CBB5A1;
    background-image: url(./img/senai.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(4), .slide:nth-child(12) {
    background-color: #E1D8D0;
    background-image: url(./img/fiepe.jpeg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(5), .slide:nth-child(13) {
    background-color: #CBB5A1;
    background-image: url(./img/sesi.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(6), .slide:nth-child(14) {
    background-color: #E1D8D0;
    background-image: url(./img/iel.png);
    background-size: cover;
    background-position: center;
} 
.slide:nth-child(7), .slide:nth-child(15) {
    background-color: #E1D8D0;
    background-image: url(./img/senai.jpg);
    background-size: cover;
    background-position: center;
} 

.slide:nth-child(8), .slide:nth-child(16) {
    background-color: #E1D8D0;
    background-image: url(./img/fiepe.jpeg);
    background-size: cover;
    background-position: center;
} 

.slide:nth-child(9), .slide:nth-child(17) {
    background-color: #E1D8D0;
    background-image: url(./img/sesi.jpg);
    background-size: cover;
    background-position: center;
} 

.slide:nth-child(18) {
    background-color: #E1D8D0;
    background-image: url(./img/iel.jpg);
    background-size: cover;
    background-position: center;
} 









#empresas-conectadas {
    background-image: url(./img/mundo2.png);
    background-size: cover;
    background-position: center;
    background-size: 180vh;
}

#empresas-conectadas:hover {
    transition: 0.1s;
    background-size: 200vh;
}


.empresasTitulo {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 5em;
}

#subtituloEmpresas {
    margin-top: 3%;
}

.empresasSubtitulo {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 4em;
    text-align: end;
    margin-right: 4%;
}

#botaoEmpresas {
    margin-right: 4%;
    width: 31%;
    height: 15vh;
}

.lojista{
    color: #E1D8D0;
    margin-right: 7%;
    width: 31%;
    font-size: 1.5em;
}

/* ANIMS PAGE */

.anim-1 {
    visibility: hidden;
}

.anim-2 {
    visibility: hidden;
}

.anim-3 {
    visibility: hidden;
}

.anim-card-1 {
    visibility: hidden;
}

.anim-card-2 {
    visibility: hidden;
}

.anim-card-3 {
    visibility: hidden;
}



/* footer */

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0b2764;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

  
  /* Bold */
  .bold {
    font-weight: bold;
  }



 .p-div{
    color: #e1d8d0;
 }
 #transition-section{
    background-image: url(https://wallpapers.com/images/hd/2048x1152-pixel-2048-x-1152-7nqz9vdvrtafhfmv.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 33.6em;
 }
 #transition-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #274276, transparent);
    z-index: 1000;
}






::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #1E1E49; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

@media only screen and (max-width: 768px) {
    .barra_de_navegacao .links_barra a:not(.login) {
        visibility: hidden;
    }
}

/* @media (max-width: 700px) {
    .o-que-e{
        height: 15%;
    }
}

@media (max-width: 1000px) {
    .o-que-e{
        height: 35%;
    }
} */

@media (min-width: 0px) and (max-width: 576px) {
    #painel {
        max-width: 100%;
    }

    .botspace {
        position: relative;
        height: calc(90vh - 100px); 
        width: 100%;
        max-height: 85%;
        overflow-x:auto;
        overflow-y: auto;
        background-color: #33343f; 
        padding: 0;
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
        font-family: "Josefin Sans", sans-serif;
        
        
      }
    
      /* Barra de mensagem */
      .chat-input {
        position: absolute;
        bottom: 20px; 
        width: 94%; 
        left: 25px;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: #494b59;
        height: 100px;
        margin-left: -10px;
      }
    
    
    .oqueETxt {
        font-size: 0.8rem;
    }

    .o-que-e{
        background-size: 180vh;
    }

    .o-que-e:hover {
        transition: 0.1s;
        background-size: 200vh;
    }

    .nossos-valores h1 {
        padding-top: 30%;
      }

    .card {
        height: 400px;
        font-size: 0.6rem;
    }

    #fotoTransicao{
        background-image: url(./img/fotoTransicao.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        background-size: 300vh;
        height: 33.6em;
    }

    #empresas-conectadas {
        background-size: 180vh;
    }

    #empresas-conectadas:hover {
        transition: 0.1s;
        background-size: 200vh;
    }

    .empresasTitulo {
        margin-top: 2%;
        font-size: 2em;
    }
    
    .empresasSubtitulo {
        margin-top: 20%;
        font-size: 2em;
    }

    .slider .slide {
        margin-top: 0.4%;
        margin-left: 4%;
        height: 3em;
        width: 3em;
        border-radius: 50%;
    }
    
    .slider .slide img {
        margin: 0.4%;
        height: 3em;
        width: 3em;
        border-radius: 50%;
    }

    #autoplaySlider {
        background: #EDE1D7;
        height: 5em;
    }

    .slider {
        padding: 0;
        margin: 0;
        background: #EDE1D7;
        height: 5em;
        overflow: hidden;
        position: relative;
    }

    #botaoEmpresas {
        margin-right: 4%;
        width: 70%;
        height: 12vh;
    }
    
    .lojista{
        color: #E1D8D0;
        margin-right: 4%;
        width: 10%;
        font-size: 1em;
    }

    .slider .slide-track {
        animation: scroll 10s linear infinite;
        display: flex;
        width: calc(12em * 24.2);
    
    }
}

@media (min-width: 576px) and (max-width: 769px) {
    /* Barra de mensagem */
    .chat-input {
        position: absolute;
        bottom: 20px; 
        width: 96%; 
        left: 25px;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: #494b59;
        height: 100px;
        margin-left: -10px;
      }
    
    .oqueETxt {
        font-size: 0.9rem;
    }

    #empresas-conectadas {
        background-size: 180vh;
    }

    #empresas-conectadas:hover {
        transition: 0.1s;
        background-size: 200vh;
    }

    .empresasTitulo {
        margin-top: 2%;
        font-size: 2em;
    }
    
    .empresasSubtitulo {
        margin-top: 20%;
        font-size: 3em;
    }

    .slider .slide {
        margin-top: 0.4%;
        margin-left: 4%;
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }
    
    .slider .slide img {
        margin: 0.4%;
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }

    #autoplaySlider {
        background: #EDE1D7;
        height: 7em;
    }

    .slider {
        padding: 0;
        margin: 0;
        background: #EDE1D7;
        height: 7em;
        overflow: hidden;
        position: relative;
    }

    #botaoEmpresas {
        margin-right: 4%;
        width: 50%;
        height: 10vh;
    }
    
    .lojista{
        color: #E1D8D0;
        margin-right: 4%;
        width: 10%;
        font-size: 1em;
    }

    .slider .slide-track {
        animation: scroll 10s linear infinite;
        display: flex;
        width: calc(12em * 20.1);
    
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #painel {
        max-width: 70%;
    }

    /* Barra de mensagem */
    .chat-input {
        position: absolute;
        bottom: 20px; 
        width: 95%; 
        left: 25px;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: #494b59;
        height: 100px;
        margin-left: -10px;
      }

    .oqueETxt {
        font-size: 1rem;
    }

    #empresas-conectadas {
        background-size: 180vh;
    }

    #empresas-conectadas:hover {
        transition: 0.1s;
        background-size: 200vh;
    }

    .empresasTitulo {
        margin-top: 2%;
        font-size: 2.5em;
    }
    
    .empresasSubtitulo {
        margin-top: 20%;
        font-size: 3em;
    }

    .slider .slide {
        margin-top: 0.4%;
        margin-left: 4%;
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }
    
    .slider .slide img {
        margin: 0.4%;
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }

    #autoplaySlider {
        background: #EDE1D7;
        height: 7em;
    }

    .slider {
        padding: 0;
        margin: 0;
        background: #EDE1D7;
        height: 7em;
        overflow: hidden;
        position: relative;
    }

    #botaoEmpresas {
        margin-right: 4%;
        width: 31%;
        height: 10vh;
    }
    
    .lojista{
        color: #E1D8D0;
        margin-right: 4%;
        width: 10%;
        font-size: 1em;
    }

    .slider .slide-track {
        animation: scroll 10s linear infinite;
        display: flex;
        width: calc(12em * 20);
    
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #painel {
        max-width: 50%;
    }

    /* Barra de mensagem */
    .chat-input {
        position: absolute;
        bottom: 20px; 
        width: 95%; 
        left: 25px;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: #494b59;
        height: 100px;
        margin-left: -10px;
      }
    
    .oqueETxt {
        font-size: 1.2rem;
    }

    #empresas-conectadas {
        background-size: 180vh;
    }

    #empresas-conectadas:hover {
        transition: 0.1s;
        background-size: 200vh;
    }

    .empresasTitulo {
        margin-top: 2%;
        font-size: 3em;
    }
    
    .empresasSubtitulo {
        font-size: 3.5em;
    }

    .slider .slide {
        margin-top: 0.4%;
        margin-left: 4%;
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }
    
    .slider .slide img {
        margin: 0.4%;
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }

    #autoplaySlider {
        background: #EDE1D7;
        height: 7em;
    }

    .slider {
        padding: 0;
        margin: 0;
        background: #EDE1D7;
        height: 7em;
        overflow: hidden;
        position: relative;
    }

    #botaoEmpresas {
        margin-right: 4%;
        width: 31%;
        height: 10vh;
    }
    
    .lojista{
        color: #E1D8D0;
        margin-right: 4%;
        width: 10%;
        font-size: 1em;
    }

    .slider .slide-track {
        animation: scroll 10s linear infinite;
        display: flex;
        width: calc(12em * 20);
    
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #painel {
        max-width: 50%;
    }

    /* Barra de mensagem */
    .chat-input {
        position: absolute;
        bottom: 20px; 
        width: 95%; 
        left: 25px;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: #494b59;
        height: 100px;
        margin-left: -10px;
      }
   
    .oqueETxt {
        font-size: 1.6rem;
    }

    #empresas-conectadas {
        background-size: 180vh;
    }

    #empresas-conectadas:hover {
        transition: 0.1s;
        background-size: 200vh;
    }

    .empresasTitulo {
        margin-top: 2%;
        font-size: 4em;
    }
    
    .empresasSubtitulo {
        font-size: 4em;
    }

    .slider .slide {
        margin-top: 0.4%;
        margin-left: 4%;
        height: 6em;
        width: 6em;
        border-radius: 50%;
    }
    
    .slider .slide img {
        margin: 0.4%;
        height: 6em;
        width: 6em;
        border-radius: 50%;
    }

    #autoplaySlider {
        background: #EDE1D7;
        height: 8em;
    }

    .slider {
        padding: 0;
        margin: 0;
        background: #EDE1D7;
        height: 8em;
        overflow: hidden;
        position: relative;
    }

    #botaoEmpresas {
        margin-right: 4%;
        width: 31%;
        height: 10vh;
    }
    
    .lojista{
        color: #E1D8D0;
        margin-right: 4%;
        width: 10%;
        font-size: 1em;
    }
    
}

@media (min-width: 1400px) {
    #painel {
        max-width: 50%;
    }
    
    .oqueETxt {
        font-size: 1.8rem;
    }
    
    .o-que-e{
        background-size: 100%;
    }

    .o-que-e:hover {
        transition: 0.1s;
        background-size: 110%;
    }

    #empresas-conectadas {
        background-size: 100%;
    }

    #empresas-conectadas:hover {
        transition: 0.1s;
        background-size: 110%;
    }

}